body{
    background-image: url("https://image.freepik.com/free-vector/stylish-hexagonal-line-pattern-background_1017-19742.jpg")
}

/* NavBar styling */
.container-fluid{
    background-color: #f7f5e9;
}

.nav-link{
    color:grey;
}

.active{
    color:black;
    font-weight: bold;
}

/* Container styling */
.container{
    margin-left: 3%;
    margin-top: 5%;
}

.col-9{
    background-color: #f0e7bb;
    padding-top: 3%;
}

.profile-img{
    margin-bottom:2%;
    margin-right:2%;
    display: block;
    max-width: 40%;
    height: auto;
}

/* Porfolio image Styling */
.img{
    margin-bottom:2%;
    margin-right:2%;
}

/* Contact form styling */
.mb-3{
    padding-left: 3%;
    padding-right:15%;
}

.btn{
    margin-bottom: 3%;
}