/* Background image */
body{
    background-image: url("https://image.freepik.com/free-vector/stylish-hexagonal-line-pattern-background_1017-19742.jpg")
}

/* NavBar styling */
.container-fluid{
    background-color:#fcfbf5;
}

.navbar-brand {
    font-family: 'Bungee Shade', cursive;
    font-size: 40px;
}

.nav-link{
    color:grey;
}

.active{
    color:black;
    font-weight: bold;
}

/* Container styling */

main{
    font-family: 'Roboto', sans-serif;
}

.container{
    margin-left: 3%;
    margin-top: 5%;
}

.col{
    background-color: #f0e7bb;
    padding-top: 3%;
}

.profile-img{
    margin-bottom:2%;
    margin-right:2%;
    display: block;
    max-width: 40%;
    height: auto;
}

h2, h3{
    font-weight:bold;
}


/* Footer styling */
footer{
    margin-top: 30px;
    font-size: 5px;
}

/* Porfolio image Styling */
.img-thumbnail{
    margin-bottom:2%;
    margin-right:2%;
    max-width: 350px;
    max-height: 350px;
}

/* Contact form styling */
.mb-3{
    padding-left: 3%;
    padding-right:15%;
}

.btn{
    margin-bottom: 3%;
}

.form-label{
    font-family: 'Roboto', sans-serif;
}