.nav-link{
    color:grey;
}

.active{
    color:black;
    font-weight: bold;
}

.container{
    margin-left: 3%;
    margin-top: 5%;
}

.col-9{
    background-color: greenyellow;
    padding-top: 5%;    
}